################################
########### VS CODE ############
################################
.vscode

################################
############ C/C++ #############
################################


################################
############# LOG ##############
################################
logs
log
.log

################################
############ OTHER #############
################################
build/
**/tmp.*
**/tmp
Testing
tests/**/test_out
.clang-format
